.header-bg {
    background-color: rgb(58, 58, 78); /* Set the header background color */
    color: white; /* Set text color for contrast */
}

body {
    background-image: url(photos/resume.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
